framework: auto-detect
source https://api.nuget.org/v3/index.json
storage: none

nuget App.Metrics.AspNetCore.Health
nuget App.Metrics.AspNetCore.Mvc
nuget Equinox preview
nuget Equinox.Codec preview
nuget Equinox.EventStore preview
nuget Equinox.MemoryStore preview
nuget FluentValidation
nuget Fsharp.Core
nuget FSharp.UMX
nuget FsToolKit.ErrorHandling
nuget Jet.JsonNet.Converters
nuget MongoDB.Driver
nuget Saturn.Extensions.Authorization
nuget Serilog